services:
  app:
    build:
      context: .
      dockerfile: Docker/Dockerfile.dev
    container_name: elmwajib_app
    volumes:
      - .:/var/www/html  
    depends_on:
      - mysql
      - redis
      - elasticsearch
    networks:
      - laravel

  queue:
    build:
      context: .
      dockerfile: Docker/Dockerfile.dev
    command: php artisan queue:work --timeout=10100 --tries=3
    deploy:
      replicas: 3
    depends_on:
      redis:
        condition: service_healthy
      app:
        condition: service_started
      elasticsearch:
        condition: service_started
    volumes: 
      - .:/var/www/html  
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: elmwajib_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www/html:ro
      - ./Docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./Docker/nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: elmwajib_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: elmwajib_db
      MYSQL_USER: elmwajib
      MYSQL_PASSWORD: elmwajib123**!!
    volumes:
      - mysql_data:/var/lib/mysql
      - ./Docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - laravel

  redis:
    image: redis:7.0
    container_name: elmwajib_redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "6379:6379"
    networks:
      - laravel

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.1.3
    container_name: elmwajib_elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - laravel

volumes:
  mysql_data:
  es_data:
  laravel_app_data:

networks:
  laravel:
    driver: bridge