*:not(i) {
    font-family: 'Lotus Linotype', serif !important;
}

.card-hover {
    &:hover {
        animation: fadeIn 1s;

        &.card-hover-primary {
            @extend .bg-primary;
        }

        &.card-hover-success {
            @extend .bg-success;
        }

        .on-hover-bg-white {
            @extend .bg-white;
        }

        .on-hover-text-white {
            @extend .text-white;
        }

        .on-hover-text-dark {
            @extend .text-dark;
        }

        .on-hover-d-none {
            @extend .d-none;
        }
    }
}

.question-title * {
    @extend .mb-0;
}

.faz-bg-image {
    @extend .position-relative;
    z-index: 1;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.05;
        background-repeat: repeat-y;
        background-size: cover;
        background-position: center;
        background-image: url('/assets/book-title.svg');
        filter: grayscale(100%);
        z-index: -1;
    }
}

.faz-card {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 1px solid #EFF2F5;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 1rem;
        background: rgba(0, 0, 0, .5);
        z-index: -1;
    }
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.object-cover {
    object-fit: cover !important;
}

.object-contain {
    object-fit: contain !important;
}
